header{
    background-color: white;
    border: 5px solid black;
    display: flex;
}

#main{
    display: flex;
}

#main #orderList{
    flex: 1;
} 

#main #orderTable {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-top: 0px;
    width: 22%
    
}


#orderList {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    color: black;
    padding: 10px;
}
.menuContent {
    display: none; 
    position: absolute;
    width: 95%;
    top: 60px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}
.menuItem {
    width: 100%;
    display: 1;

}
.menuItem:hover .menuContent {
    background-color: grey;
    display: flex; 
    left: 0;
}
.menuContent  ~.formDisplay {
    flex: 1;
    position: relative;
    flex-direction: row;
}

.formDisplay {
    flex: 1;
    flex-direction: row;
}

.menuContent:hover ~ h2 {
    display: flex;
    background-color: grey !important;
}


h2 {
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: 0px;
}
h2:hover{
    background-color: gray;
}

table{
    margin-left: 20%;
    background-color: grey;
    text-align: center;
}
th {
    border: 5px solid white;
}
td {
    border: 5px solid white;
}