
body {
    background-color: pink;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

table {
    text-align: center;
}
label {
    display: block;
}
header{
    background-color: white;
    border: 5px solid black;
}
.i1{
    flex: 1;
}
.i1:first-child{
    margin-right: 0;
}
.i1:last-child{
    margin-left: 0;
}

header img {
    margin-top: 10px;
}
footer{
    background-color: white;
    border: 5px black solid;
    border-radius: 10px;
}

#fBox{
    display: flex;
    border: 5px black solid;
}
#fBox div {
    flex: 1;
}
#vidBooking{
    display: flex;
    flex-direction: column;
    border-left: 5px black solid;
}
#videos, #booking{
    flex: 1 !important;
}

.fGroup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    width: 100px;
    margin-right: 10px; 
  }
  
  .error-message {
    display: none;
    color: red;
  }


#basicInfo{
    width: 700px !important;
    background-color: plum;
    padding-bottom: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: auto;
}
#basicInfo p, #commonInfo p {
    margin: auto !important;
    width: 500px !important;
}
#commonInfo, iframe{
    width: 100%; 
    height: 300px !important;
    border: none;
    overflow: hidden;
}
#commonInfo p, #booking form {
    border: 10px solid;
    border-radius: 10px;
}

#commonInfo p{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#videos {
    display: flex;
    justify-content: center;
}
#videos video {
    margin: 20px;
}
#orderList{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 10px solid black;

}
#orderForm {
    margin-top: 5%;
}
#orderTable{
    text-align: center;
}
#orderForm img:hover{
    transform: scale(1.5);
}
#booking{
    padding: 25px;
    border: 5px solid black;
    margin:100px;
}

#designLst ul {
    list-style-type: none;
}

#videoCircle {
    border: 5px solid black;
    border-radius: 50%;
    object-fit: cover;
}
.roundPic {
    border-radius: 50%;
    object-fit: cover;
}
.orderLinkButton {
    margin-top: 10px !important;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
}
